.example-modal {
  min-width: 400px;

  .example-modal__body {
    margin-bottom: 1em;
  }

  .example-modal__input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1em;
    padding: 8px;
  }

  .example-modal__footer {
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
  }
}
